## Label Encoding

In [15]:
import pandas as pd

In [16]:
data = pd.read_csv("IRIS.csv")

In [17]:
data.sample(10)

     sepal_length  sepal_width  petal_length  petal_width          species
127           6.1          3.0           4.9          1.8   Iris-virginica
128           6.4          2.8           5.6          2.1   Iris-virginica
49            5.0          3.3           1.4          0.2      Iris-setosa
27            5.2          3.5           1.5          0.2      Iris-setosa
87            6.3          2.3           4.4          1.3  Iris-versicolor
117           7.7          3.8           6.7          2.2   Iris-virginica
85            6.0          3.4           4.5          1.6  Iris-versicolor
98            5.1          2.5           3.0          1.1  Iris-versicolor
58            6.6          2.9           4.6          1.3  Iris-versicolor
13            4.3          3.0           1.1          0.1      Iris-setosa

In [18]:
data.species.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [19]:
from sklearn import preprocessing

In [20]:
label_encoder = preprocessing.LabelEncoder()

In [21]:
data['species']= label_encoder.fit_transform(data['species'])

In [22]:
data['species'].unique()

array([0, 1, 2])

In [23]:
data.sample(10)

     sepal_length  sepal_width  petal_length  petal_width  species
104           6.5          3.0           5.8          2.2        2
73            6.1          2.8           4.7          1.2        1
80            5.5          2.4           3.8          1.1        1
43            5.0          3.5           1.6          0.6        0
50            7.0          3.2           4.7          1.4        1
11            4.8          3.4           1.6          0.2        0
47            4.6          3.2           1.4          0.2        0
51            6.4          3.2           4.5          1.5        1
125           7.2          3.2           6.0          1.8        2
67            5.8          2.7           4.1          1.0        1

## One Hot encoding

In [31]:
enc = preprocessing.OneHotEncoder()

In [36]:
enc_data = pd.DataFrame(enc.fit_transform(data[['species']]).toarray())

In [37]:
print(enc_data)

       0    1    2
0    1.0  0.0  0.0
1    1.0  0.0  0.0
2    1.0  0.0  0.0
3    1.0  0.0  0.0
4    1.0  0.0  0.0
..   ...  ...  ...
145  0.0  0.0  1.0
146  0.0  0.0  1.0
147  0.0  0.0  1.0
148  0.0  0.0  1.0
149  0.0  0.0  1.0

[150 rows x 3 columns]